<% if comment.rating > 0.0 %>
  <div class="comment-rating" data-score="<%= comment.rating %>" ></div>
<% end %>
<% if comment.content.present? %>
  <div>
    <%= comment.content %>
  </div>
<% end %>
<br>
