<% if comment.rating > 0.0 %>
  <div class="comment-rating" data-score="<%= comment.rating %>" ></div>
<% end %>
<% if comment.content.present? %>
  <div>
    <%= t "views.comments.content" %>
    <%= comment.content %>
  </div>
<% end %>
