@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 18px;
}

.center {
  text-align: center;
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
 
#logo:hover {
  color: blue;
  text-decoration: none;
}

h1 {
  color: red;
}

.footer {
  background-color: black;
  color: white;
  text-align: right;
}
