@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 18px;
}

.center {
  text-align: center;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: blue;
  text-decoration: none;
}

h1, h3 {
  color: red;
}

.footer {
  background-color: black;
  color: white;
  text-align: right;
}

.col-4 {
  display: inline-block;
  width: 24%;
}

.product-card {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

ul.gallery {
  margin-left: 3vw;
  margin-right:3vw;
}

.zoom {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.zoom:hover, .zoom:active, .zoom:focus {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  position: relative;
  z-index: 50;
}

.container-pading {
  padding-top: 40px;
}

.item:hover {
  outline: 1px solid red;
}
